<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="index" class="com.bean.Dog">

		<constructor-arg index="0" value="order"></constructor-arg>
	</bean>

	<bean id="order" class="com.bean.Dog" fm="indexService">

	</bean>

	<bean id="orderChil" parent="order">
		<property name="index" value="children"></property>
	</bean>
</beans>